body {
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: rgb(2, 45, 83);
  display: flex;
  justify-content: center;
}

.saved-chars {
  display: flex;
  justify-content: center;
}

.saved-char {
  margin: 20px;
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  background-color: black;
  color: yellow;
  border: 1px black;
}